{% extends "base/base.html" %}

{% block title %}Carrito{% endblock title %}

{% block content %}
	<div class="big-padding text-center blue-gray white-text">
		<h1>Tu carrito de compras</h1>
	</div>
	<div class="container">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Producto</td>
					<td>Precio</td>
				</tr>
			</thead>
			<tbody>
				{% for product in products  %}
					<tr>
						<td>{{ product.title }}</td>
						<td>{{ product.pricing_in_dolar }}</td>	
					</tr>
				{% endfor %}
				<tr>
					<td>Total</td>
					<td>{{ total }}</td>
				</tr>
			</tbody>
		</table>
		<div class="text-center">
			<a href="{% url 'products:paypal-view' shopping_cart_id %}" class="btn btn-success">Comprar</a>
		</div>
	</div>
{% endblock content %}